


.home{
    background-color:#1f81a2;
    background-image: url('../images/waves.gif');
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Century Gothic', sans-serif;
    margin: 5%;
    color: #fff;
    font-size: 20px;
 
}

.top{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.top a{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.top a:hover{
    background-color: #fff;
    text-align: center;
    font-size: 0.8em;
    color:#1f81a2;
}
header{
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

a{
    color: #fff;
    text-align: center;
   
}

a:hover{
    background-color: #fff;
    text-align: center;
  
    color:#1f81a2;
}
.small{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.school{
    background-color:#1f81a2;
  
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Century Gothic', sans-serif;
    margin: 5%;
    color: #fff;
    font-size: 20px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
}

figcaption{
    font-style: italic;
}



.home p{
    font-size: 1em;
}

h1{
    font-size: 2em;
}

main { 
    max-width: 1200px; 
    width: 95%;
    margin: 0 auto;
    /* Adjust as needed */ 
}



tr, td {
    padding: 10px;
    border: black 1.5px solid;
    
    color: #fff;
  
    font-size: 0.8em;
}

th{
    border: black 1.5px solid;
    
    background-color: #0b4d63;
}

table tr:nth-child(even) {
    background-color: #18627a;
    }

@media (max-width: 1199px) and (min-width: 769px) {
    main{
        width: 60%;
    }
}



@media (max-width: 768px) {
    main{
        width: 30%;
        margin: 0 auto;

    }
    
 
  }

  
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main{
        width: 50%;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main{
        width: 60%;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main{
        width: 30%;
    }
}