


body{
    background-color:#1f81a2;
    background-image: url('../images/waves.gif');
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Century Gothic', sans-serif;
    margin: 5%;
    color: #fff;
    font-size: 20px;
 
}

header{
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer a{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}
