


.home{
    background-color:#1f81a2;
    background-image: url('../images/waves.gif');
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Century Gothic', sans-serif;
    margin: 5%;
    color: #fff;
    font-size: 20px;
 
}

.top{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.top a{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.top a:hover{
    background-color: #fff;
    text-align: center;
    font-size: 0.8em;
    color:#1f81a2;
}
header{
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer a{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

small{
    max-width: 10%;
    max-height:10%;
}

.school{
    background-color:#1f81a2;
  
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Century Gothic', sans-serif;
    margin: 5%;
    color: #fff;
    font-size: 20px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 50%;
}

