p{
    text-align: center;
    color:rgb(71, 71, 71);
    font-size: 1.5em;
    
}


body{
    background-color: aliceblue;

}

a{
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 1em;
}

a:hover{
    text-align: center;
    color: rgb(175, 44, 44);

}

em{
    color:rgba(46, 122, 97, 0.677);
font-size: 1.5em;
}

h1, h2{
    text-align: center;
    font-style: italic;
}

nav{
    text-align: center;
}

.small{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}