p{
    text-align: center;
    color:rgb(71, 71, 71);
    font-size: 1.5em;
    
}


body{
    background-color: aliceblue;

}

a{
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 1em;
}

a:hover{
    text-align: center;
    color: white;
    background-color: rgb(71, 71, 71);
}

em{
    color:rgba(46, 122, 97, 0.677);
font-size: 1.5em;
}

h1, h2{
    text-align: center;
}

nav{
    text-align: center;
}